{% extends "main.html" %}

{% block content %}
    <div align="center" style="margin-bottom:100px">
        <h1 style="color:White; background:#61de2a;" >Стабильная работа сайта</h1>
        <h2 style="color:White; background:#61de2a;">Наши сервера работают 24 часа в сутки 7 дней в неделю и 365(&nbsp;иногда&nbsp;+&nbsp;1&nbsp;) дней в году</h2>
        <h1 style="color:Blue; background:#61de2a;">Халява</h1>
        <h2 style="color:Blue; background:#61de2a;">На нашем сайте и в группе в ВК часто происходят розыгрыши и акции</h2>
        <h1 style="color:Red; background:#61de2a;">У нас интересно!</h1>
        <h2 style="color:Red; background:#61de2a;">Наш сайт часто обновляется, добавляются новые блюда</h2>
        <h2 style="color:Red; background:#61de2a;">Самая быстрая доставка ПО ВСЕМУ МИРУ!</h2>
        <h2 style="color:Red; background:#61de2a;">Быстрая работа тех.поддержки</h2>
    </div>
    <div align="right" style="margin-bottom:30px">
        <h3>&copy;Сделано при поддержке ФондКино</h3>
    </div>
    <div align="center">
        <h2>Наши контакты:</h2>
        <a href="https://www.instagram.com/3_nimals_3/" class="fa fa-instagram"></a>  <a href="https://vk.com/thenimals">Никитос Витальевич</a>
        <a href="https://www.instagram.com/eduard_petruha/" class="faeddy fa-instagram"></a>  <a href="https://vk.com/edik344f">Эдян Сергеевич</a>
    </div>
{% endblock %}