{% extends "main.html" %}

{% block content %}
{% for names in spisok_poz %}
    <table>
        <tr><th colspan="6" align="center">{{names}}</th></tr>
        <tr>
            {% for item in pizza_menu[names] %}
                <td class="pole">
                    <img src="{{item['picture_place']}}" alt="{{item['name']}}" style="width:50%">
                    <h1>{{item['name']}}</h1>
                    <p> {{item['sostav']}}</p>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endfor %}
{% endblock %}